<!DOCTYPE html>
<html lang="pt_BR">
  <head>

    {% block head %}

      <title>Foodfy - Home</title>

    {% endblock %}
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="/assets/style.css"/>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="brand">
          <a href="/">
            <img src="/assets/images/logo.png" alt="Logo Foodfy"/>
          </a>
        </div>

        <!-- Navigation Menu -->
        <nav class="navbar">
          <ul>
            <li>
              <a href="/about" class="navbar-link">Sobre</a>
            </li>
            <li>
              <a href="/recipes" class="navbar-link">Receitas</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    {% block content %}{% endblock %}
    
    <!-- Footer -->
    <footer>Todos direitos reservados, receitas Foodfy.</footer>

  </body>
</html>