{% extends "layout.njk" %}

    {% block head %}

      <title>Foodfy - Recipes</title>

    {% endblock %}

  {% block content %}

 


{# <div class="modal-overlay">
    <div class="modal">
      <img src=""/>
      <a class="close-modal">Fechar Modal</a>
    </div>
  </div> #}

  {% endblock %}