{% extends "layout.njk" %}

{% block head %}

  <title>Foodfy - Recipes</title>

{% endblock %}

{% block content %}

  <section class="recipe">
    <div class="recipe__image">
      <img src="./assets/images/burger.png" alt="Burger">
    </div>
  

  <div class="recipe__name">
      <h2>Triplo Bacon burguer</h2>
  </div>
</section>
{% endblock %}