{% extends "layout.njk" %}

{% block head %}
    <title>Receitas</title>
{% endblock head %}
    
{% block content %}
    <section>          
      <div class="recipe__list">
        
        {% for recipe in recipes %}
        <div class="recipe" id="{{recipe.id}}">
            <a href="./descriptions" target="_blank"> <img src="{{recipe.image}}" alt="{{recipe.title}}"> </a>
            <div class="info">
              <p class="recipe__name">{{recipe.title}}</p>
              <p class="author">por {{recipe.author}}</p>            
            </div>
          </div>
        {% endfor %}
    </section>

  
  <script src="../js/script.js"></script>
{% endblock %}