@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}
ul {
  list-style: none;
}
hr {
  margin-top: 50px;
  margin-bottom: 50px;
  opacity: 0.2;
}

/* === Header === */

header {
  display: flex;
  height: 60px;
  margin-top: 38px;
}
header .container {
  display: flex;
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}
header .brand {
  display: flex;
  align-items: center;
}
header .navbar {
  display: flex;
  margin-left: 40px;
}
header .navbar .navbar-link {
  color: black;
  text-decoration: none;
}
.active {
  font-weight: bold;
}
header .navbar ul {
  display: flex;
  align-items: center;
}
header .navbar ul li {
  margin-left: 30px;
}

/* === Main === */

main {
  display: flex;
  height: 366px;
  margin-top: 30px;
}

main .banner__container {
  display: flex;
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  background: #fbdfdb;
  border-radius: 30px;
  justify-content: space-around;
  align-items: center;
}
main .banner__container h1 {
  font-size: 32px;
  line-height: 42px;
}
main .banner__container p {
  font-size: 18px;
  line-height: 28px;
  opacity: 0.7;
  max-width: 400px;
}
main .banner__container-chef {
  margin-top: 30px;
}
main .banner__container-chef img {
  width: 100%;
}

/* === About === */

.about {
  display: flex;
  max-width: 940px;
  margin: 50px auto;
}

.about__container {
  display: flex;
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  border-radius: 30px;
}

.about__container h1 {
  font-size: 24px;
  line-height: 34px;
}

.about__container h2 {
  font-size: 20px;
  line-height: 20px;
}

.about__container p {
  font-size: 18px;
  line-height: 28px;
  max-width: 940px;
  margin-top: 20px;
  margin-bottom: 30px;
}

/* === CARDS === */

.cards {
  max-width: 940px;
  margin: 50px auto;
}
.cards h4 {
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 20px;
}
.card__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px 20px;
  max-width: 940px;
  margin: 20px auto;
  width: 100%;
}
.card {
  margin-bottom: 30px;
  cursor: pointer;
}
.card__thumbnail img {
  width: 100%;
  height: 140px;
  border-radius: 15px;
}
.card__title h2 {
  font-weight: normal;
  margin-top: 20px;
  font-size: 18px;
  color: #111111;
}

.card__description p {
  font-size: 14px;
  line-height: 24px;
  color: #777;
  align-items: center;
}

/* === Recipes === */

.recipe__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px 20px;
  max-width: 940px;
  margin: 20px auto;
  width: 100%;
  padding-bottom: 20%;
}

.recipe img {
  width: 300px;
  height: 140px;
  border-radius: 10px;
  margin-top: 34px;
  
}

.recipe img:hover {
  cursor: pointer;
}

.info {
  margin-top: 30px;
}

.recipe__name{
  color: #111;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.author {
  color: #777;
  font-size: 14px;
  line-height: 24px;
}

/* === Recipes Descriptions === */

.description__banner {
  display: flex;
  height: 280px;
  width: 940px;
  margin: 50px auto;
  align-items: center;
  
}

.description__banner img {
  border-radius: 30px;
  width: 100%;
  height: 100%;
}

.description__recipe-name {
  color: #111;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  margin-top: 50px;
}

.description__author-name {
  color: #777;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-top: 4px;
}
/* === FOOTER === */

footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 52px;
  background: #eee;
  padding: 23px 0px 23px 0px;
  justify-content: center;
}

.footer {
  position: relative;
  bottom: 0;
  top: 860px;
}
